{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
       <article class="media content-section">
          <img class="rounded-circle account-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#"> Author: </a>
                    <small class="text-muted"></small>
                </div>
                <h2><a class="article-title" href=""> </a> </h2>
                    <p class="article-content"></p>
                </div>
           <div>
               <img class="img-thumbnail">
           </div>
       </article>
    {% endfor %}
{% endblock content %}